npm-instructions.txt
# Android/IJ
.idea/workspace.xml
.idea/libraries
.gradle
local.properties
*.iml
build
android/.idea/gradle.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/runConfigurations.xml
android/.idea/workspace.xml
